<app-header [isConnected]="isConnected"></app-header>
<app-qeustion *ngIf="isLoaded" [qeustion]="question" [isQeustionPage]="true"></app-qeustion>
<app-new-response *ngIf="isConnected" [tid]="tid" (newItemEvent)="ngOnInit()"></app-new-response>
<div *ngIf="isLoaded" class="responsesContainer">
    <p *ngIf="responseList.length==0"> Aucune réponse !</p>
    <app-response *ngFor="let response of responseList" [response]="response"></app-response>
</div>