<div class="alert" *ngIf="alert">
    <p>Réponse ajouté</p>
</div>
<div class="container">
    <form novalidate [formGroup]="loginForm" (ngSubmit)="submitForm($event)">
        <p>Ajouter une réponse</p>

        <label [ngClass]="{'focusInput':content}">
            Réponse*({{nbWord}}/100)
            <textarea type="text" formControlName="content" placeholder="Réponse*"
                [ngClass]="{'empty':isEmpty && loginForm.value.content==''}" (input)="input()"></textarea>
        </label>
        <button type="submit">Ajouter</button>
    </form>
</div>