<app-header [isConnected]="isConnected"></app-header>
<div class="container">
    <span *ngIf="isLoaded">Utilisateur : {{qeustionList[0].userPseudo}} Email : {{qeustionList[0].userEmail}}</span>
    <div>
        <button (click)="ngOnInit()" [ngClass]="{'changeColor':displayQuestion}">Questions</button><button (click)="getResponses()" [ngClass]="{'changeColor':!displayQuestion}">Réponses</button>
    </div>
</div>

<div *ngIf="displayQuestion">
    <p *ngIf="qeustionList.length==0"> Aucune question !</p>
    <app-qeustion *ngFor="let qeustion of qeustionList" [qeustion]="qeustion">
    </app-qeustion>
</div>

<div *ngIf="!displayQuestion">
    <p *ngIf="responseList.length==0"> Aucune réponse !</p>
    <app-response *ngFor="let response of responseList" [response]="response"></app-response>
</div>