.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: 1px solid white;
    color: white;
    max-width: 625px;
    margin: auto;
    border-radius: 10px;
    padding-block: 10px;
    margin-top: 10px;
    button {
        cursor: pointer;
        padding: 15px;
        margin-top: 10px;
        border: 2px solid white;
        background-color: black;
        color: white;
        font-weight: 900;
    }
    .changeColor {
        background-color: green;
    }
}

p {
    text-align: center;
}