<header>
    <img src="" alt="">
    <nav>
        <ul>
            <li *ngIf="isConnected"><a [routerLink]="['']">
                Accueil
            </a> </li>
            <li *ngIf="!isConnected"><a [routerLink]="['/login']">
                Connecter
            </a> </li>
            <li *ngIf="!isConnected"><a [routerLink]="['/signup']">
                Inscription
            </a> </li>
            <li *ngIf="isConnected"><a [routerLink]="['/create']">
                Ajouter une question
            </a></li>
            <li *ngIf="isConnected"><a [routerLink]="['/user/'+tid]">
                Mes questions
            </a> </li>
            <button *ngIf="isConnected" (click)="logOut()">Déconnexion</button>
        </ul>
    </nav>
</header>