header {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px double black;
    height: 70px;
    align-items: center;
    padding-block: 4px;
    img {
        margin-left: 4px;
        height: 100%;
    }
    nav {
        display: flex;
        justify-content: flex-end;
        ul {
            display: flex;
            align-items: center;
            margin: 0px;
            li {
                list-style: none;
                display: flex;
                a {
                    cursor: pointer;
                    padding: 15px;
                    margin-top: 0px;
                    margin-right: 0px;
                    border: 2px solid white;
                    background-color: black;
                    color: white;
                    font-weight: 900;
                    text-decoration: none;
                    border-radius: 25px;
                    &:visited {
                        color: white;
                    }
                }
            }
            button {
                cursor: pointer;
                padding: 15px;
                margin-top: 0px;
                border: 2px solid white;
                background-color: black;
                color: white;
                font-weight: 900;
                border-radius: 25px;
            }
        }
    }
}