article {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 650px;
    max-width: 650px;
    background: black;
    color: antiquewhite;
    border: 2px white solid;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
    padding: 20px;
    margin-top: 10px;
    position: relative;
    a {
        color: rgb(50, 114, 57);
    }
    .linkto {
        position: absolute;
        border: none;
        padding: 0px;
        margin: 0px;
        color: rgb(50, 114, 57);
        right: 10px;
        bottom: 10px;
    }
}