<article *ngIf="qeustion">
    <h1>{{qeustion.title}}</h1>
    <p>{{qeustion.content}}</p>
    <p>Publier par <strong><a [routerLink]="['/user/'+qeustion.userTid]">{{qeustion.userPseudo}}</a> {{qeustion.date }}</strong></p>
    <a class="linkto" *ngIf="!isQeustionPage" [routerLink]="['/qeustion/'+qeustion.tid]">Voir les reponses</a>
</article>