<article *ngIf="response">
    <p>{{response.content}}</p>
    <p>Publier par <strong><a [routerLink]="['/user/'+response.userTid]">{{response.pseudo}}</a> {{response.date}}</strong>
        <span>
            <lucide-angular class="addVote" *ngIf="isVoted && isConnected && !isMyResponse" name="plus-circle" (click)="vote()"></lucide-angular>
            <lucide-angular class="addVote" *ngIf="!isVoted && isConnected && !isMyResponse" name="minus-circle" (click)="deleteVote()"></lucide-angular>
            <lucide-angular name="check-circle">
            </lucide-angular>
            {{response.nbVote}}
        </span>
    </p>
</article>