article {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 625px;
    max-width: 650px;
    background: black;
    color: rgb(202, 233, 49);
    border: 2px white solid;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
    padding: 20px;
    margin-top: 10px;
    position: relative;
    p {
        margin-top: 0px;
    }
    a {
        color: green;
    }
    span {
        justify-content: right;
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: green;
        display: flex;
        width: 50px;
        lucide-angular {
            width: 20px;
        }
        .addVote {
            cursor: pointer;
        }
    }
}