form {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 350px;
    background: black;
    color: antiquewhite;
    border: 13px white double;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
    label {
        display: flex;
        flex-direction: column;
        font-weight: 900;
        color: rgba(252, 212, 118, 0);
        transition: color 1s;
        input {
            border: none;
            background: black;
            border-bottom: 1px solid white;
            height: 30px;
            outline: none;
            margin-bottom: 10px;
            color: antiquewhite;
            font-weight: 700;
            font-size: 15px;
            transition: 1s;
        }
    }
    button {
        cursor: pointer;
        padding: 15px;
        margin-top: 10px;
        border: 2px solid white;
        background-color: black;
        color: white;
        font-weight: 900;
    }
}

.focusInput {
    color: rgb(252, 212, 118, 1) !important;
}

.empty {
    background-color: red !important;
}