<app-header [isConnected]="isConnected"></app-header>
<form noValidate [formGroup]="loginForm">
    <label>
    <input type="text" (input)="filterByTilte()" placeholder="Rechercher une question" formControlName="title">
    <lucide-icon name="search"></lucide-icon>
</label>
    <select name="language" id="language" (change)="filterByLanguage($event)">
        <option value="alllanguage">Langages</option>
    <option *ngFor="let language of languages" [value]="language">{{language}}</option>
</select>
    <button type="button" [ngClass]="{'changeColor':withoutResponse}" (click)="questionWithoutResponse()">Questions sans réponses</button>
</form>
<div *ngIf="loginForm.value.title=='' && language=='alllanguage' && !withoutResponse">
    Page:
    <select name=" nbPage " id="nbPage " (input)="goToPage($event) ">
        <option *ngFor="let pageIndex of nbPage; let index=index " [value]="index " > {{index+1}} </option>
    </select>
</div>
<p *ngIf="qeustionList.length==0 "> Aucune question !</p>
<app-qeustion *ngFor="let qeustion of qeustionList " [qeustion]="qeustion ">
</app-qeustion>