div {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    label {
        position: relative;
        input {
            padding: 6px;
            padding-inline: 10px;
            padding-right: 30px;
            border: 2px solid black;
            border-radius: 20px;
            margin: 5px;
        }
        lucide-icon {
            position: absolute;
            right: 0px;
            transform: scale(0.7);
            background-color: black;
            padding: 9px;
            border-radius: 25px;
            color: wheat;
        }
    }
    button {
        cursor: pointer;
        padding-inline: 20px;
        border: 2px solid white;
        background-color: black;
        color: white;
        font-weight: 900;
    }
    .changeColor {
        background-color: green;
    }
}