<form novalidate [formGroup]="loginForm" (ngSubmit)="submitForm($event)">

    <label [ngClass]="{'focusInput':pseudoLabel}">
    Pseudo*
    <input type="pseudo" formControlName="pseudo" placeholder="Pseudo*" (input)="input()"  [ngClass]="{'empty':isEmpty && loginForm.value.pseudo==''}">
</label>
    <label [ngClass]="{'focusInput':emailLabel}">
        Email*
    <input type="text" formControlName="email" placeholder="Email*" (input)="input()" [ngClass]="{'empty':isEmpty && loginForm.value.email==''}">
</label>
    <button type="submit">Inscription</button>
</form>