form {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 650px;
    max-width: 650px;
    background: black;
    color: antiquewhite;
    border: 13px white double;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
    padding: 10px;
    label {
        display: flex;
        flex-direction: column;
        font-weight: 900;
        color: rgba(252, 212, 118, 0);
        transition: color 1s;
        width: 100%;
        input {
            border: none;
            background: black;
            border-bottom: 1px solid white;
            height: 30px;
            outline: none;
            margin-bottom: 10px;
            color: antiquewhite;
            font-weight: 700;
            font-size: 15px;
            transition: 1s;
        }
        textarea {
            border: none;
            background: black;
            border-bottom: 1px solid white;
            height: 100px;
            outline: none;
            margin-bottom: 10px;
            color: antiquewhite;
            font-weight: 700;
            font-size: 15px;
            transition: 1s;
            resize: none;
        }
    }
    button {
        cursor: pointer;
        padding: 15px;
        margin-top: 10px;
        border: 2px solid white;
        background-color: black;
        color: white;
        font-weight: 900;
    }
}

.focusInput {
    color: rgb(252, 212, 118, 1) !important;
}

.empty {
    background-color: red !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100%;
}

.alert {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    background: linear-gradient(132.23deg, #62ff96 5.47%, #e2ff63 94.61%);
    margin: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-weight: bold;
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    animation: skewing .2s ease-in forwards;
}