<app-header [isConnected]="isConnected"></app-header>
<div class="alert" *ngIf="alert">
    <p>Question ajouté</p>
</div>
<div class="container">
    <form novalidate [formGroup]="loginForm" (ngSubmit)="submitForm($event)">
        <p>Ajouter une question</p>
        <label [ngClass]="{'focusInput':title}">
            Question* ({{nbWord}}/20)
            <input type="text" formControlName="title" placeholder="Question*"
                [ngClass]="{'empty':isEmpty && (loginForm.value.title=='' || nbWord>20)}" (input)="input()">
        </label>

        <label [ngClass]="{'focusInput':content}">
            Details*
            <textarea type="text" formControlName="content" placeholder="Details*"
                [ngClass]="{'empty':isEmpty && loginForm.value.content==''}" (input)="input()"></textarea>
        </label>
        <select name="language" id="language" (change)="getLanguage($event)">
            <option *ngFor="let language of languages" [value]="language">{{language}}</option>
        </select>
        <button type="submit">Ajouter</button>
    </form>
</div>